.index {
  &__logo {
    height: 22vh;
    display: block;
    margin: 13vh auto 0;
  }
  &__first-logo {
    width: 50vw;
    display: block;
    margin: 30vh auto;
  }
  &__recents {
    color: #7B7B7B;
    font-size: 15px;
    text-align: center;
    margin-top: 5vh;
  }
  &__recode {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 100px;
  }
  &__mada {
    text-align: center;
    margin: 10vh;
  }
  &__new-account {
    display: block;
    font-size: 15px;
    color: #FFF;
    background-color: #ED6A4C;
    border-radius: 3px;
    margin: 2vh 10vw 0 auto;
    padding: 5px;
    border: none;
  }
  &__signin {
    display: block;
    width: 75pt;
    margin: 15vh 10vw 0 auto;
  }
  &__floatbutton {
    position: fixed;
    background-color: #ED6A4C;
    padding: 5vw;
    border-radius: 50%;
    right: 5vw;
    bottom: 10vh;
    img {
      width: 10vw;
    }
  }
  &__news {
    width: 90vw;
    margin: 0 auto;
    &-item {
      background-color: #F4F4F4;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-radius: .5em;
      margin-bottom: .3em;
    }
    &-category {
      color: #7B7B7B;
      margin: .5em;
      font-size: .7em;
    }
    &-date {
      color: #7B7B7B;
      margin: .5em;
      font-size: .7em;
    }
    &-title {
      color: #656565;
      font-weight: bold;
      margin: 0 .5em .5em;
      font-size: .7em;
    }
  }
}
#isSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}