//スライドイン
@mixin keyframes($animation-name: animaton) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation, $direction: forward, $fillmode: fowards) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: $fillmode;
  -webkit-animation-direction: $direction;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: $fillmode;
  -moz-animation-direction: $direction;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}

@include keyframes(animation-slide-in-up) {
  0% {
      transform: translate(0,100vh);
  }

  100% {
      transform: translate(0,0);
  }
}

@include keyframes(animation-slide-out-down-title) {
  0% {
      transform: translate(0,-80vh);
  }

  100% {
      transform: translate(0,0);
  }
}

@include keyframes(animation-slide-out-down-body) {
  0% {
      transform: translate(0,-80vh);
  }

  100% {
      transform: translate(0,0);
  }
}



.jobhunting_memo1 {
  font-size: 2vh;
  &__header {
    padding: 2.5vh 5vw;
    background-color: #E4E4E4;
    font-size: 1em;
    color: #4B4B4B;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    width: 90vw;
    top: 0;
    z-index: 100;
    span {
      color: #ED6A4C;
    }
    img {
      height: 1.5em;
      margin-left: auto;
    }
    &--hide {
      height: calc(5vh + 1.5em);
    }
  }
  &__folder {
    margin: 1vh 5vw;
    &--header1 {
      background-color: #E8F6FD;
      padding: 5px 5vw 5px 2vw;
      border-radius: .5em;
      display: inline-block;
      width: 4.5em;
      input {
        background: none;
        border: none;
        font-weight: bold;
        font-size: 1em;
        color: #818181;
      }
    }
    &--header2 {
      background-color: #E8F6FD;
      padding: 5px 5vw;
      border-radius: .5em;
      display: inline-block;
      width: 7.5em;
      input {
        background: none;
        border: none;
        font-weight: bold;
        font-size: 1em;
        color: #818181;
      }
    }
    &--content {
      background-color: #E8F6FD;
      border-radius: .5em;
      position: relative;
      top: -.3em;
      padding: 5vw;

      div {
        margin: 0 0 1em 0;
      }
      input {
        background: none;
        border: none;
        font-size: .8em;
        width: calc(100% - 1.5em);
      }
      hr {
        border: solid .8px #C3C3C3;
        margin: 0;
      }
    }
  }
  &__5w {
    margin: 3vw;
    border: solid 1px #D9D9D9;
    border-radius: 10px;
    padding: 2vw;
    margin-top: 2em;
    background-color: #FFF;
    &-title {
      background-color: #E8F6FD;
      color: #645151;
      font-size: 1.5em;
      font-weight: bold;
      padding: 1em 0 1em 1em;
    }
    &-contents {
      background-color: #E8F6FD;
      padding: 1vw;
      margin-bottom: 1vh;

      p {
        margin: 0;
        font-size: .7em;
        color: #ABABAB;
      }
      textarea {
        border: none;
        background-color: transparent;
        width: 85vw;
        font-size: 0.8em;
      }
    }
    &-gakuchika {
      background-color: #E8F6FD;
      padding: 1vw;
      margin-bottom: 1vh;
      p {
        margin: 0;
        font-size: .7em;
        color: #4B4B4B;
        font-weight: bold;
      }
      textarea {
        border: none;
        background-color: transparent;
        width: 85vw;
        font-size: 0.8em;
      }
    }
    &-number {
      color: #818181;
      font-size: .7em;
      text-align: right;
    }
    &-total {
      color: #4B4B4B;
      font-size: .7em;
      text-align: right;
      font-weight: bold;
    }
  }
  &__memo {
    border-top: none;
    border-right: none;
    border-left: solid 1px #ED6A4C;
    border-bottom: solid 1px #ED6A4C;
    display: block;
    width: calc(90vw - 2px);
    margin: 2vh 5vw;
    height: 5em;
    font-size: 0.8em;
  }
  &__btn {
    margin: 5vh 0 7em;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 35pt;
    }
    button {
      height: 30pt;
      background-color: #ED6A4C;
      color: #FFF;
      border: none;
      border-radius: .5em;
      padding: 0 1em;
      font-size: 1.3em;
      margin-left: 5vw;
      font-weight: bold;
    }
  }
  &__x {
    border: none;
    background: none;
    position: relative;
    left: 73vw;
  }
  %show-result {
    text-align: center;
    //font-weight: bold;
    color: #818181;
    padding: 1em 0 1em;
    border-top: solid 1px #00000029;
    border-radius: 10px 10px 0 0;
    position: fixed;
    width: 100vw;
    background-color: #FFF;
    z-index: 100;
    font-size: 1em;
  }
  &__show-result {
    &--off {
      @extend %show-result;
      bottom: 0;
      box-shadow:0 -4px 0 0 rgba(0,0,0,0.05);
      display:flex;
      justify-content: center;
      align-items: center;
      img {
        width: 6vw;
        display: block;
        margin:0.5em;
        height:2vh;
      }
      button {
        font-size: 1em;
      }
      
    }
    &--on {
      @extend %show-result;
      top: calc(5vh + 1em);
      display:flex;
      justify-content: center;
      align-items: center;

      img {
        width: 6vw;
        display: block;
        margin:0.5em;
        height:2vh;
        transform: rotate(180deg);
      }
      button {
        font-size: 1em;
      }
    }
  }
  &__result {
    &--on {
      position: fixed;
      top: calc(5vh + 5em);
      width: 100vw;
      height: 80vh;
      overflow-y: auto;
    }
    &--off {
      display:none;
    }
    &__title{
      &--on{
        color:#ED6A4C;
        font-weight: bold;
      }
    }
  }
}