.overlay__save {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 119, 152, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay__save--string {
  z-index: 100;
  color: white;
  font-size: 18pt;
  display: block;
  margin-top: 0;
}
.overlay__save--yesbtn {
  width: 78.9pt;
  height: 30.29pt;
  font-size: 15pt;
  border-radius: 6pt;
  border: none;
  background-color: #E0836E;
  color: #FFF;
  margin-right: 17pt;
}
.overlay__save--nobtn {
  width: 78.9pt;
  height: 30.29pt;
  font-size: 15pt;
  border-radius: 6pt;
  border: none;
  background-color: #FFF;
  color: #474645;
}
.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(191, 208, 222, 0.75);
  animation: slide-down 1s both;
}
@keyframes slide-down {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.overlay--backbtn {
  position: absolute;
  bottom: 20vh;
  left: 15vw;
  z-index: 100;
}
.overlay--finbtn {
  background-color: #ED6A4C;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 17px;
  color: #FFF;
  margin: 5vh auto;
  display: block;
}
.overlay__tutorial {
  &--bg {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(232, 232, 232, 0.7);
    animation: show-slow 1s both;
    opacity: 0;
  }
  &--main {
    width: 80vw;
    height: 55vh;
    margin: 15vh auto;
    background-color: #FFF;
    border-radius: 24px;
    text-align: center;
  }
  &--header {
    background-color: #E8F6FD;
    border-radius: 24px 24px 0 0;
    padding: 3vh;
    margin-bottom: 4vh;
  }
  &--step1 {
    display: flex;
    margin: 2vh 10vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    height: 60vw;
  }
  &--tri {
    margin: 3vh auto;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #BCBCBC;
  }
  &--img {
    height: 20vh;
    margin: 5vh;
  }
  &--yes {
    width: 85px;
    height: 36px;
    border-radius: 8pt;
    border: none;
    font-size: 14pt;
    margin: 26pt 10px 0;
    background-color: rgba(224, 131, 110, 1);
    color: #FFF;
  }
  &--skip {
    width: 85px;
    height: 36px;
    border-radius: 8pt;
    border: none;
    font-size: 14pt;
    margin: 26pt 10px 0;
    background-color: rgba(131, 131, 131, 1);
    color: #FFF;
  }
}
.overlay__str {
  &--step {
    font-size: 14px;
    margin-bottom: 1vh;
  }
  &--step-content {
    font-size: 18px;
    font-weight: bold;
  }
  &--step1 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px #707070;
  }
  &--yellow {
    background-color: #F1C151;
    border-radius: 11px;
    width: 28vw;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--blue {
    background-color: #558FC9;
    border-radius: 11px;
    width: 28vw;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--pink{
    background-color: #F49C9C;
    border-radius: 11px;
    width: 28vw;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--green {
    background-color: #6EB161;
    border-radius: 11px;
    width: 28vw;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--right {
    color: #ED6A4C;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    right: 3vw;
    top: 45vh;
  }
  &--left {
    color: #ED6A4C;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    left: 3vw;
    top: 45vh;
  }
  &--step2 {
    font-size: 13px;
    margin: 3vh;
  }
  &--red {
    color: #ED6A4C;
    font-size: 11px;
  }
  &--step4 {
    font-size: 13px;
    font-weight: bold;
    width: 50vw;
    margin: 0 auto;
    line-height: 3vh;
    background-color: #E8F6FD;
    border-radius: 14px;
  }
}
@keyframes show-slow {
  100% {
    opacity: 1;
  }
}