.recode {
  &__tab {
    position: sticky;
    top: 0;
    background-color: #E0836E;
    height: 97px;
    width: 100%;
    z-index: 1;
    &--archive {
      position: absolute;
      left: 19pt;
      top: 50px;
      height: 26pt;
      border-radius: 13pt;
      border: none;
      font-size: 10pt;
    }
    &--saving {
      position: absolute;
      top: 50px;
      height: 26pt;
      border-radius: 13pt;
      border: none;
      font-size: 10pt;
    }
  }

  &__topbtns {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: 2vh 5vw;
    border-radius: 80vw;
    background-color: #E6E6E6;

    &--on {
      background-color: #9A9A9A;
      width: 25vw;
      border-radius: 25vw;
      margin: 5px;
      font-weight: bold;
      color: #FFF;
      padding: 2px 5px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img {
        height: 1em;
      }
    }
    &--off {
      background: none;
      width: 25vw;
      text-align: center;
      border-radius: 25vw;
      margin: 5px;
      color: #B5B5B5;
      padding: 2px 5px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img {
        height: 1em;
      }
    }
  }
}