.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2vh;

  &__theme {
    margin: 2vh 5vw 30px;
    font-size: 1.5em;
    font-weight: 700;
    color: #818181;
    align-self: flex-start;
  }
  %__category {
    display: inline-block;
    color: #FFF;
    padding: 5px 0 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    align-self: flex-start;
    margin: 0 0 3vh 5vw;
  }
  &__category{
    @extend %__category;
    background-color: #EC785E;
    &--yellow {
      @extend %__category;
      background-color: #F2C252;
    }
    &--blue {
      @extend %__category;
      background-color: #558FC9;
    }
    &--green {
      @extend %__category;
      background-color: #6EB161;
    }
    &--pink {
      @extend %__category;
      background-color: #F49C9C;
    }
  }
  &__memo {
    width: 75%;
    height: 180pt;
    border-left: solid 1.5pt #DE4D2B;
    border-bottom: solid 1.5pt #DE4D2B;
    border-top: none;
    border-right: none;
    background: none;
    margin: 45pt 10% 0;
    font-size: 13px;
    resize: none;
  }
  &__memo--readonly {
    border-top: none;
    border-right: none;
    border-bottom: solid 1.5pt #DE4D2B;
    border-left: solid 1.5pt #DE4D2B;
    background: none;
    font-size: 13px;
    padding: 0 0 11pt 6pt;
    margin: 50px 10vw 0 10vw;
    width: 80%;
    word-wrap: break-word;
    overflow: scroll;
    white-space: pre-wrap;
    color: #8D8D8D;
  }
  &__success {
    display: block;
    color: #A6A7A7;
    border-radius: 1.45px;
    border-width: 0.23px;
    background-color: #FFF;
    padding: 0.5em 40px 0.5em 1em;
    margin: 0 auto;
    appearance: none;
    text-align: left;
    background-image:
      linear-gradient(45deg, transparent 50%, #FFF 50%),
      linear-gradient(135deg, #FFF 50%, transparent 50%),
      linear-gradient(to right, #797979, #797979);
    background-position:
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 10px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      30px 100%;
    background-repeat: no-repeat;
  }
  // &__success--readonly {
  //   border: solid 0.36pt #A6A7A7;
  //   border-radius: 2.27pt;
  //   padding: 12pt 14pt 15pt;
  //   width: 80%;
  //   font-size: 10pt;
  // }
  &__savebtn {
    width: 25vw;
    height: 22pt;
    border-radius: 8pt;
    background-color: #DE4D2B;
    color: #FFF;
    box-shadow: 0 0 6pt rgba(0, 0, 0, 0.29);
    border: none;
    font-size: 15px;
  }
  &__edit {
    margin-right: 5vw;
    position: absolute;
    top: calc(5vh + 4em);
  }
  &__tweetbtn {
    width: 35vw;
    height: 27pt;
    background-color: #4190C6;
    text-decoration: none;
    text-align: center;
    line-height: 27pt;
    color: #FFF;
    border: none;
    border-radius: 5pt;
    margin-top: 10pt;
    margin-bottom: 68pt;
  }
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    margin: 3vh auto 0;

    &--ver {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 20vw;
    }
  }
  &__back {
    padding: 3vh 0 0 5vw;
    display: block;
    height: 2.5em;
    align-self: flex-start;
  }
  &__floatbutton-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    left: 25vw;
    bottom: 5vh;
    width: 50vw;
    border-radius: 12vw;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    padding: 2vw;
    z-index: 100;
    background-color: #FFF;
    span {
      border: solid 0.5px #E8E8E8;
      border-radius: 50%;
      padding: 2vw;
      height:8vw;
      width:8vw;
    }
    img {
      width: 8vw;
      height: 8vw;
    }
    &--active {
      background-color: #ED6A4C;
    }
  }
  &__space{
    height:15vh;
    width:100vw;
  }
  &__wrapper {
    &--on {
      width: 100vw;
    }
    &--off {
      width: 100vw;
      background-color: #FFF;
      height: calc(91vh - 3.4em);
    }
  }
}