.result_memo {
  font-size: 2vh;
  &__header {
    background-color: #E8F6FD;
    font-size: 1em;

    &-back {
      padding: 3vh 0 0 5vw;
      display: block;
      height: 1.2em;
    }
    &-edit {
      display: block;
      margin: 0 5vw 0 auto;
      padding: 0 0 3vh;
      height: 30px;
    }
    &-str {
      color: #818181;
      font-size: 1.5em;
      padding: 2vh 5vw 0;
      font-weight: bold;
    }
  }
  &__str {
    color: #818181;
    font-weight: bold;
    text-align: center;
    margin: 30vh 0 5vh;
  }
  &__button {
    color: #FFF;
    font-weight: bold;
    font-size: 1em;
    background-color: #ED6A4C;
    padding: .5em 1.5em;
    border-radius: .5em;
    display: block;
    margin: 0 auto;
    border: none;
  }
}