.tenchan__lefttop {
  position: absolute;
  top: -10vh;
  left: -120px;
  height: 40vh;
  max-height: 250px;
  max-width: calc(120px + 45vw);
}
.tenchan__comment {
  width: 80vw;
  text-align: center;
  display: block;
  margin: 25vh auto 0;
}